<h1>Task List</h1>
<table>
  <tr>
    <th><%= link_to "Reference Number" %> </th>
    <th><%= link_to "Invoice Number" %> </th>
    <th><%= link_to "Customer Email" %> </th>
    <th><%= link_to "Text" %> </th>
    <th><%= link_to "Edit" %> </th>
    <th><%= link_to "Delete" %> </th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%=task.reference_number %></td>
    <td><%= task.invoice_number %></td><td>
    <td><%= task.customer_email %></td>
    <td><%= task.text %></td>
    <td><%= link_to '編集', edit_task_path(task.id) %></td>
    <td><%= link_to '削除', task_path(task.id), data: { turbo_method: :delete } %></td>
  </tr>
  <% end %>
  </table>